@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

*::after, *::before, *{
  box-sizing: border-box;
  padding: 0;
}

body{
  display: grid;
  place-items: center;
  font-family: 'Karla', sans-serif;
  width: 100%;
  padding-top: 0.5rem;
  height: 100%;
}

h1{
  font-size: 3rem;
  font-weight: 900;
}

.cell{
  @apply w-14 h-14 bg-gray-100 border border-gray-400 justify-center items-center flex text-5xl font-bold uppercase;
}

.correct{
  @apply animate-[flip_0.5s_ease_forwards];
  --final-bg: var(--color-green-400)
}

.absent{
  @apply animate-[flip_0.5s_ease_forwards];
   --final-bg: var(--color-gray-400)
}

.present{
  @apply animate-[flip_0.5s_ease_forwards];
   --final-bg: var(--color-amber-400)
}

.row > div:nth-child(2){
  animation-delay: 0.2s;
}
.row > div:nth-child(3){
  animation-delay: 0.4s;
}
.row > div:nth-child(4){
  animation-delay: 0.6s;
}
.row > div:nth-child(5){
  animation-delay: 0.8s;
}


@keyframes flip {
  0%{
  transform: rotateX(0);
    background-color:  #fff;
    border-color:  #333;
  }
  45%{
  transform: rotateX(90deg);
   background-color:  #fff;
    border-color:  #333;
  }
  55%{
  transform: rotateX(90deg);
  background-color: var(--final-bg);
  border-color: var(--final-bg);
  }
  100%{
  transform: rotateX(0);
  background-color: var(--final-bg);
  border-color: var(--final-bg);
  color: white;
  }
}

@keyframes single-pulse{
  0%{
transform: scale(1);
border-color: black;
  }
  50%{
transform: scale(1.1);
border-color: black;
  }
  100%{
transform: scale(1);
border-color: #333;
  }
}