@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

*::after, *::before, *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: grid;
  place-items: center;
  font-family: 'Karla', sans-serif;
  width: 100%;
  padding-top: 2rem;
}

h1{
  font-size: 3rem;
  font-weight: 900;
}